
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 80vh;
    width: 60vw;
    grid-gap: 2rem;
}

.grid div{
    width: 220px;
    height: 220px;
}

.back{
    background-image: url('../images/backCard.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pic1{
    background-image: url('../images/blueEyes.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic2{
    background-image: url('../images/DarkMagician.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic3{
    background-image: url('../images/DarkMagicianGirl.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic4{
    background-image: url('../images/Obelisk.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic5{
    background-image: url('../images/Ra.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic6{
    background-image: url('../images/Slifer.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}